<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="2.5">

    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>it.servlet.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDemo</servlet-name>
        <servlet-class>it.servlet.ServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRandomPicture</servlet-name>
        <servlet-class>it.servlet.ServletRandomPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefreshServlet</servlet-name>
        <servlet-class>it.servlet.RefreshServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoServletToJSP</servlet-name>
        <servlet-class>it.servlet.DoServletToJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCache</servlet-name>
        <servlet-class>it.servlet.ServletCache</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>it.servlet.RedirectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletResponseProblems</servlet-name>
        <servlet-class>it.servlet.ServletResponseProblems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GZIPServlet</servlet-name>
        <servlet-class>it.servlet.GZIPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletContentType</servlet-name>
        <servlet-class>it.servlet.ServletContentType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRange</servlet-name>
        <servlet-class>it.servlet.ServletRange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRequest</servlet-name>
        <servlet-class>it.request.ServletRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRequest</servlet-name>
        <url-pattern>/ServletRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRange</servlet-name>
        <url-pattern>/ServletRange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletContentType</servlet-name>
        <url-pattern>/ServletContentType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GZIPServlet</servlet-name>
        <url-pattern>/GZIPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletResponseProblems</servlet-name>
        <url-pattern>/ServletResponseProblems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCache</servlet-name>
        <url-pattern>/ServletCache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoServletToJSP</servlet-name>
        <url-pattern>/DoServletToJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefreshServlet</servlet-name>
        <url-pattern>/RefreshServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRandomPicture</servlet-name>
        <url-pattern>/ServletRandomPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDemo</servlet-name>
        <url-pattern>/ServletDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
